@charset "utf-8";

/* common class */
.area{width: 1200px;margin: 0 auto;padding: 0 10px;}

/* header */
#header{height: 120px;}
/* top */
#header .top{height: 40px;background: #363636;color: #c8c8c8;font-size: 14px;}
#header .top .area{}
#header .top .area:after{content: "";display: block;clear: both;}
#header .top .area p{float: left;line-height: 40px;}
#header .top .area .util{float: right;}
#header .top .area .util li{float: left;padding: 13px 0;}
#header .top .area .util li a{display: block;line-height: 1;padding: 0 5px;border-right: 1px solid #fff;color: #ffffff;}
#header .top .area .util li:last-child a{padding-right: 0;border-right: none;}
/* main_menu */
#header .main_munu{position: relative;height: 80px;background: #ffffff;}
#header .main_munu .area{}
#header .main_munu .area:after{content: "";display: block;clear: both;}
#header .main_munu .area .logo{float: left;}
#header .main_munu .area .logo a{display: block;padding: 7.11px 0;}
#header .main_munu .area .logo a img{display: block;width: 180px;}

#header .main_munu .area #gnb{float: right;}
#header .main_munu .area #gnb > ul{}
#header .main_munu .area #gnb > ul:after{content: "";display: block;clear: both;}
#header .main_munu .area #gnb > ul > li{float: left;margin: 0 15px;}
#header .main_munu .area #gnb > ul > li:last-child{margin-right: 0;}
#header .main_munu .area #gnb > ul > li > a{position: relative;display: block;font-size: 22px;line-height: 80px;font-weight: bold;color: #363636;transition: color 0.5s;}
#header .main_munu .area #gnb > ul > li:hover > a{color: #004ea1;}
#header .main_munu .area #gnb > ul > li > a:after{content: "";position: absolute;bottom: 0;left: 0;width: 100%;height: 4px;background: transparent;transition: background 0.5s;}
#header .main_munu .area #gnb > ul > li:hover > a:after{background: #004ea1;}

#header .main_munu .area #gnb > ul > li > ul{display: none;position: absolute;top: 80px;left: 0;width: 100%;height: 40px;background: rgba(255,255,255,.6);text-align: center;font-size: 0;z-index: 1;} /* display: none;z-index: 1; */
#header .main_munu .area #gnb > ul > li:hover > ul{display: block;}
#header .main_munu .area #gnb > ul > li > ul > li{display: inline-block;vertical-align: middle;margin: 0 20px;}
#header .main_munu .area #gnb > ul > li > ul > li > a{display: block;line-height: 40px;font-size: 14px;color: #666666;}
#header .main_munu .area #gnb > ul > li > ul > li > a:hover{color: #004ea1;}
/* main_bg */
#section00 .main_bg{position: relative;height: 280px;background-image: url(../img/main-02.jpg);background-size: cover;background-position: 50% 100%;} /* background-attachment: fixed; */
#section00 .main_bg p{position: absolute;top: 136px;left: 1110px;width: 420px;font-size: 48px;font-weight: bold;color: #363636;letter-spacing: -1px;word-break: keep-all;line-height: 1.2;} /* line-height: 1.2; */
/* sub_menu */
#section00 .sub_menu{height: 116px;background: #d3dce5;}
#section00 .sub_menu .area{}
#section00 .sub_menu .area .quick{text-align: center;font-size: 0;padding: 20px 0;}

#section00 .sub_menu .area .quick li{display: inline-block;vertical-align: middle;margin: 0 10px;}
#section00 .sub_menu .area .quick li:first-child{margin-left: 0;}
#section00 .sub_menu .area .quick li:last-child{margin-right: 0;}
#section00 .sub_menu .area .quick li a{display: block;width: 80px;height: 76px;background-size: cover;background-position: 50%;}
#section00 .sub_menu .area .quick li:nth-child(1) a{background-image: url(../img/quick_01_off.png);}
#section00 .sub_menu .area .quick li:nth-child(2) a{background-image: url(../img/quick_02_off.png);}
#section00 .sub_menu .area .quick li:nth-child(3) a{background-image: url(../img/quick_03_off.png);}
#section00 .sub_menu .area .quick li:nth-child(4) a{background-image: url(../img/quick_04_off.png);}
#section00 .sub_menu .area .quick li:nth-child(5) a{background-image: url(../img/quick_05_off.png);}
#section00 .sub_menu .area .quick li:nth-child(6) a{background-image: url(../img/quick_06_off.png);}
#section00 .sub_menu .area .quick li:nth-child(7) a{background-image: url(../img/quick_07_off.png);}
#section00 .sub_menu .area .quick li:nth-child(8) a{background-image: url(../img/quick_08_off.png);}
#section00 .sub_menu .area .quick li:nth-child(9) a{background-image: url(../img/quick_09_off.png);}
#section00 .sub_menu .area .quick li:nth-child(10) a{background-image: url(../img/quick_10_off.png);}
#section00 .sub_menu .area .quick li:nth-child(11) a{background-image: url(../img/quick_11_off.png);}
#section00 .sub_menu .area .quick li:nth-child(12) a{background-image: url(../img/quick_12_off.png);}
#section00 .sub_menu .area .quick li:nth-child(1) a:hover{background-image: url(../img/quick_01_on.png);}
#section00 .sub_menu .area .quick li:nth-child(2) a:hover{background-image: url(../img/quick_02_on.png);}
#section00 .sub_menu .area .quick li:nth-child(3) a:hover{background-image: url(../img/quick_03_on.png);}
#section00 .sub_menu .area .quick li:nth-child(4) a:hover{background-image: url(../img/quick_04_on.png);}
#section00 .sub_menu .area .quick li:nth-child(5) a:hover{background-image: url(../img/quick_05_on.png);}
#section00 .sub_menu .area .quick li:nth-child(6) a:hover{background-image: url(../img/quick_06_on.png);}
#section00 .sub_menu .area .quick li:nth-child(7) a:hover{background-image: url(../img/quick_07_on.png);}
#section00 .sub_menu .area .quick li:nth-child(8) a:hover{background-image: url(../img/quick_08_on.png);}
#section00 .sub_menu .area .quick li:nth-child(9) a:hover{background-image: url(../img/quick_09_on.png);}
#section00 .sub_menu .area .quick li:nth-child(10) a:hover{background-image: url(../img/quick_10_on.png);}
#section00 .sub_menu .area .quick li:nth-child(11) a:hover{background-image: url(../img/quick_11_on.png);}
#section00 .sub_menu .area .quick li:nth-child(12) a:hover{background-image: url(../img/quick_12_on.png);}
/* section01 */
#section01{height: auto;background: #efedef;}
#section01 .area{padding: 0;}
#section01 .area ul{padding: 10px 0;}
#section01 .area ul:after{content: "";display: block;clear: both;}

#section01 .area ul li{float: left;width: calc(25% - 20px);height: 280px;margin: 10px;padding: 20px;background: #ffffff;color: #fffefe;}  
#section01 .area ul .bg_blue{background: #004ea1;}
#section01 .area ul .bg_green{background: #03d365;}
#section01 .area ul .box_03, #section01 .area ul .box_04{color: #363636;width: calc(50% - 20px);}
#section01 .area ul .box_03{background-image: url(../img/cont-001.jpg);background-size: cover;background-position: 50%;}

#section01 .area ul li > div{position: relative;height: 100%;}

#section01 .area ul .box_04 div .prize{float: left;width: 240px;height: 240px;background-image: url(../img/prize.jpg);background-size: cover;background-position: 50%;}
#section01 .area ul .box_04 div .txt{float: right;margin-left: 20px;width: calc(100% - 260px);height: 100%;}

#section01 .area ul li div h2{font-size: 36px;font-weight: bold;padding-bottom: 25px;}
#section01 .area ul .box_03 div h2{padding-bottom: 45px;}
#section01 .area ul .box_04 div .txt h2{padding-bottom: 30px;} /* padding-bottom: 4 0px; */

#section01 .area ul li div p{font-size: 18px;word-break: keep-all;}
#section01 .area ul .box_03 div p{font-size: 24px;}
#section01 .area ul .box_04 div .txt p{font-size: 14px;letter-spacing: -1px;}

#section01 .area ul li div .button_box{position: absolute;bottom: 0;left: 0;width: 100%; font-size: 0;}
#section01 .area ul li div .button_box button{display: inline-block;vertical-align: middle;width: 50%;line-height: 40px;text-align: center;border: 2px solid #fffefe;font-size: 16px;}
#section01 .area ul li div .button_box button:first-child{border-right: 0;}
#section01 .area ul .box_03 div .button_box{width: 360px;border: 2px solid #004ea1;}
#section01 .area ul .box_03 div .button_box input{vertical-align: middle;width: calc(100% - 120px);height: 40px;background: #ffffff;color: #999999;font-size: 16px;padding-left: 15px;}
#section01 .area ul .box_03 div .button_box button{vertical-align: middle;width: 120px;background: #004ea1;color: #ffffff;border: none;}
#section01 .area ul .box_04 div .txt .button_box{left: auto;right: 0;width: auto;} /* 공통으로 준 width: 100%;를 유지하게되면 너비값을 position: relative;를 준 조상 태그의 너비값을 유지하게되므로 right: 0;을 주어도 변화가 없다 */
#section01 .area ul .box_04 div .txt .button_box button{width: 160px;border: 2px solid #004ea1;color: #004ea1;}
/* section02 */
#section02{position: relative;height: 465px;background-image: url(../img/health-care.jpg);background-size: cover;background-position: 50%;}
#section02 div{position: absolute;top: 159px;left: 1130px;width: 330px;text-align: center;}
#section02 div p{font-size: 36px;font-weight: bold;color: #363636;letter-spacing: -1px;word-break: keep-all;line-height: 1.2;}
#section02 div img{display: inline-block;width: 180px;padding-top: 35px;}
/* section03 */
#section03{}
#section03 .area{padding: 0;text-align: center;color: #363636;}
#section03 .area h2{font-size: 36px;font-weight: bold;line-height: 60px;padding: 20px 0;}
#section03 .area > p{font-size: 20px;padding-bottom: 20px;}
#section03 .area > ul{padding-bottom: 40px;color: #ffffff;}
#section03 .area > ul:after{content: "";display: block;clear: both;}
#section03 .area > ul > li{float: left;width: calc(25% - 20px);height: 375px;padding: 20px;margin: 0 10px;background-size: cover;background-position: 50%;}
#section03 .area > ul > li:nth-child(1){background-image: url(../img/cont-002.jpg);}
#section03 .area > ul > li:nth-child(2){background-image: url(../img/cont-003.jpg);}
#section03 .area > ul > li:nth-child(3){background-image: url(../img/cont-004.jpg);}
#section03 .area > ul > li:nth-child(4){background-image: url(../img/cont-005.jpg);}
#section03 .area > ul > li > h3{font-size: 24px;font-weight: normal;padding-top: 40px;}
#section03 .area > ul > li > .bar{display: inline-block;width: 80px;height: 4px;background: #ffffff;margin: 20px 0;}
#section03 .area > ul > li > p{font-size: 18px;padding-bottom: 30px;}
#section03 .area > ul > li > ul{display: inline-block;}
#section03 .area > ul > li > ul > li{border: 2px solid #fff;border-bottom: none;}
#section03 .area > ul > li > ul > li:last-child{border-bottom: 2px solid #fff;}
#section03 .area > ul > li > ul > li > a{display: block;width: 120px;line-height: 36px;font-size: 18px;color: #ffffff;}
/* footer */
#footer{height: 245px;background: #474747;color: #ffffff;font-size: 13px;}
#footer .area{}
#footer .area ul{text-align: center;font-size: 0;}
#footer .area ul li{display: inline-block;vertical-align: middle;font-size: 13px;line-height: 1;padding: 0 10px;border-right: 1px solid #fff;}
#footer .area > ul{border-bottom: 1px solid #fff;padding: 20px 0 15px;}
#footer .area > ul > li{}
#footer .area ul li:last-child{border-right: none;}
#footer .area .btn{text-align: center;}
#footer .area .btn ul{padding: 15px 0;}
#footer .area .btn ul li{}
#footer .area .btn address{}
#footer .area .btn img{display: inline-block;height: 55px;margin: 20px 0;}
#footer .area .btn p{}